:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     90,211,196;
--color-neutral-100:    70,206,189;
--color-neutral-200:    53,197,180;
--color-neutral-300:    47,177,161;
--color-neutral-400:    42,157,143;
--color-neutral-500:    37,137,125;
--color-neutral-600:    31,117,106;
--color-neutral-700:    26,97,88;
--color-neutral-800:    20,77,70;
--color-neutral-900:    15,56,51;
--color-primary-50:     42,157,143;
--color-primary-100:    60,154,141;
--color-primary-200:    73,151,140;
--color-primary-300:    84,148,138;
--color-primary-400:    93,145,136;
--color-primary-500:    101,142,135;
--color-primary-600:    109,138,133;
--color-primary-700:    116,135,131;
--color-primary-800:    122,132,130;
--color-primary-900:    128,128,128;
--color-secondary-50:     244,162,97;
--color-secondary-100:    232,158,101;
--color-secondary-200:    219,155,105;
--color-secondary-300:    207,151,109;
--color-secondary-400:    194,147,112;
--color-secondary-500:    181,143,116;
--color-secondary-600:    168,140,119;
--color-secondary-700:    155,136,122;
--color-secondary-800:    142,132,125;
--color-secondary-900:    128,128,128;
}