:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    255,255,255;
--color-neutral-300:    255,255,254;
--color-neutral-400:    251,240,181;
--color-neutral-500:    248,225,108;
--color-neutral-600:    246,217,69;
--color-neutral-700:    244,209,30;
--color-neutral-800:    223,188,11;
--color-neutral-900:    184,155,9;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,253,252;
--color-primary-400:    253,198,178;
--color-primary-500:    251,143,103;
--color-primary-600:    250,114,63;
--color-primary-700:    249,84,23;
--color-primary-800:    226,65,6;
--color-primary-900:    186,54,5;
--color-secondary-50:     255,255,255;
--color-secondary-100:    247,255,253;
--color-secondary-200:    171,255,237;
--color-secondary-300:    94,255,220;
--color-secondary-400:    18,255,204;
--color-secondary-500:    0,196,154;
--color-secondary-600:    0,155,122;
--color-secondary-700:    0,114,90;
--color-secondary-800:    0,74,58;
--color-secondary-900:    0,33,26;
}